# Gradle
.gradle/
build/
*/build/
!*/src/**/build/

# IntelliJ IDEA
.idea/
*.iml

# macOS
.DS_Store

# Local configuration
local.properties
/local.properties

# Kotlin
.kotlinc/
.kotlin/
.kotlin/errors*

# Android
captures/
local-repo/

# Yarn
node_modules/
yarn-error.log
yarn-debug.log*

# logs:

**/logs/*.log
**/logs/*.log.*.gz
